body{
    background-color: beige !important;
}
#EnUstKisim{
   background-color: rgb(215, 213, 218);
   border-radius: 0px;
   height: 60px;
}
.SayfaAdi{
    color: rgb(92, 39, 146) !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 36px;
    font-size: 25px;
     
}
#ProfilButon{
    color: black;
    margin-left: 975px;
    width: 120px;
}
#TanitimKart{
    height: 350px;
    width: 230px;
    margin-left: 60px;
    border: 1px solid  rgb(92, 39, 146);
  
}
.card-link{
    font-size: 10px;
    color: black;
}
#ProfilButonYazi{
    background-color: rgb(114, 114, 175);
    border: 1px solid rgb(114, 114, 175);
}
#ProfilButonAcilir{
    background-color: rgb(114, 114, 175);
    border: 1px solid rgb(114, 114, 175);
  
}
#FiltrelemeKutusu{
    margin-left: 333px;
    margin-top: -350px;
    height: 350px;
    width: 700px;
    border: 1px solid  rgb(92, 39, 146);
}
#OneriKart{
    height: 350px;
    width: 230px;
    margin-left: 1075px;
    margin-top: -350px;
    border: 1px solid  rgb(92, 39, 146);
}
.card-text{
    color: rgb(94, 91, 91);
}
#ilceler{
    width: 547px;
    height: 38px;
    border-radius: 4px;
    border: 1px solid rgb(206, 212, 218);
    
}
.ilceButon{
    height: 38px;
    margin-left: 6px;
    position: absolute;
    border-radius: 7px;
    border: 1px solid #7a5f86;
    cursor: pointer;
}
.gunTanitim{
    width: 18rem;
     float: left;
     margin-top: 40px;
     margin-left: 43px;

}
.gonderButon{
    margin-top:-5px; 
    border:1px solid black !important; 
    margin-left:110px;
}
.btn-outline-danger{
    margin-left: 150px;
}