<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Artist</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="anasayfa.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script type="text/javascript" src="home.js"></script>
</head>
<style>
  @import url('https://fonts.googleapis.com/css?family=Lato:300,400');

  .logo {
    height: 70px;
    margin-left: -16px;
    margin-top: -13px;
  }

  .logodevami {
    background: #2c6299;
    height: 50px;
    margin-top: -57px;
  }

  .home {
    float: right;
    top: 14px;
    position: relative;
    left: -63px;
    color: white !important;
    font-size: 18px;
    text-decoration: none !important;
  }

  .ortaresim {
    height: 160px;
    width: 490px;
    margin-left: 520px;
  }


  .baslik {
    font-size: 22px;
    padding-left: 5px;
    padding-top: 40px;
  }


  @import url('https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i');

  html {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  @-ms-viewport {
    width: device-width;
  }

  body {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.6;
  }

  .content {
    padding: 4rem 2rem 2rem 2rem;
    min-height: calc(100vh - 70px)
  }

  h4,
  .h4 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: .5rem;
    margin-bottom: .7rem;
  }

  /*Input Icon*/
  .has-icon {
    position: relative;
    display: flex;
    align-items: center
  }

  .has-icon .form-control {
    padding-left: 28px;
    /*padding-right: calc(1.5em + 0.75rem);*/
  }

  .has-icon i.input-icon {
    position: absolute;
    height: 33.5px;
    width: 33.5px;
    top: 0;
    left: 0;
    margin-left: .25rem;
    font-size: .875rem;
    line-height: 33.5px;
    color: #495057;
    text-align: center !important;
    /*text-shadow: 1px 1px 1px rgba(127,127,127,.3);*/
    opacity: .7
  }

  .modal-dialog-centered.modal-dialog-scrollable {

    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    /* justify-content: center; */
    height: 100%;
    margin-top: 17pc;
  }


  .pink-box {
    color: #B30E4F;
    color: rgb(179, 17, 49);
    background-color: rgb(255, 227, 233);
    padding: 15px;
    border: 1px solid rgb(179, 17, 49);
    margin-bottom: 2px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .danger-alert {
    padding: 15px 15px 10px;
    margin-bottom: 20px;
    border-style: none;
    border-radius: 2px;
    color: rgb(197, 71, 54);
    background-color: rgb(249, 234, 232);
    -webkit-box-shadow: rgb(244, 216, 212) 0px 2px;
    box-shadow: rgb(244, 216, 212) 0px 2px;
  }

  /*CUTIE Font*/

  /*Modal*/
  #eventAdd.modal {
    display: block
  }

  #eventAdd.modal .alert {
    display: none;
    width: auto;
    max-width: 500px;
    text-align: center
  }

  #eventAdd.modal .alert-heading h4 {
    margin: 0;
    line-height: 1em
  }

  #eventAdd.modal .alert i {
    line-height: .5em;
  }

  .modal-dialog {
    /*margin: 10px*/
  }

  .modal-content {
    border: 1px solid #dcdcdc;
    border-radius: .25rem;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }

  .modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }

  .modal-content .modal-header .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: none;
    opacity: .375;
    user-select: none
  }

  .modal-content .modal-header button.close {
    position: absolute;
    right: 17px;
    outline: 0;
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
  }

  .modal-content .modal-header i {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center
  }

  .modal-content .modal-header .close:hover,
  .modal-content .modal-header .close:focus {
    opacity: 1
  }

  .modal-content .modal-header .modal-title {
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    margin-top: 0;
  }

  .modal-footer {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }

  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 525px;
      margin: 1.75rem auto;
    }
  }

  @media (min-width: 768px) {
    .modal-dialog {
      max-width: 624px;
      margin: 30px auto;
    }

    .modal-dialog-scrollable {
      max-height: calc(100% - 70px);
    }

    .modal-dialog-scrollable .modal-content {
      max-height: calc(100vh - 70px);
    }

    .modal-dialog-centered {
      min-height: calc(100% - 70px);
    }

    .modal-dialog-centered::before {
      height: calc(100vh - 70px);
    }

    .modal-sm {
      width: 300px;
    }
  }

  @media (min-width: 992px) {

    .modal-lg,
    .modal-xl {
      max-width: 900px;
    }
  }

  .time,
  .date {
    min-width: 5rem;
  }

  .flextable {
    dislay: table;
    width: 100%;
  }

  .flextable-item {
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
  }

  /*DEFAULT BUTTON*/
  .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }

  .btn-default:focus,
  .btn-default.focus {
    background-color: #e6e6e6;
    border-color: #8c8c8c;
  }

  .btn-default:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
  }

  .btn-default.disabled,
  .btn-default:disabled {
    background-color: transparent;
    border-color: #ccc;
    opacity: .5;
    pointer-events: none
  }

  .btn-default:not(:disabled):not(.disabled):active,
  .btn-default:not(:disabled):not(.disabled).active,
  .show>.btn-default.dropdown-toggle,
  .open>.btn-default.dropdown-toggle {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    background-image: none;
  }

  .btn-default:not(:disabled):not(.disabled):active:focus,
  .btn-default:not(:disabled):not(.disabled).active:focus,
  .show>.btn-default.dropdown-toggle:focus,
  .open>.btn-default.dropdown-toggle:focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
  }

  /*ANIMATED BTN*/
  .btn-animate {
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, #f35626, #feab3a);
    border: 1px solid;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    -webkit-animation: hue 60s infinite linear;
  }

  .btn-animate:focus,
  .btn-animate.focus {
    outline: none;
  }

  .btn-animate:hover {
    color: #fff;
    text-decoration: none;
  }

  @-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }

    to {
      -webkit-filter: hue-rotate(-360deg);
    }
  }

  /*Selected BUTTON*/
  .btn-select {
    color: #fff;
    background-color: #007bff;
    background-image: -webkit-linear-gradient(180deg, #007bff, #303f9f);
    background-image: linear-gradient(180deg, #007bff, #303f9f);
    border-color: #007bff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    vertical-align: middle
  }

  .btn-select:hover {
    color: #fff;
    background-color: #0069d9;
    background-image: none;
    border-color: #0062cc;
  }

  .px5 {
    padding-right: 5px;
    padding-left: 5px;
  }

  .pb5 {
    padding-bottom: 5px;
  }

  .mx5 {
    margin-right: 5px;
    margin-left: 5px;
  }

  .ccbox {
    min-width: 125px !important;
  }

  .csbox {
    min-width: 250px;
  }

  .mfp-content {
    display: block;
    max-width: 450px;
    box-shadow: 0 0.72rem 0.72rem rgba(0, 0, 0, 0.3),
      0.6rem 0.5rem 1.3rem rgba(0, 0, 0, 0.15);
    padding: 25px;
  }

  .mfp-title {
    line-height: 1.4;
    color: inherit;
    margin-bottom: 1rem;
  }

  .mfp-footer {
    display: flex;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-top: 1rem;
    padding-bottom: 0;
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }

  ::-webkit-scrollbar {
    background: transparent;
    height: 3px;
    width: 3px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none transparent;
    border-radius: 50px;
  }

  ::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border: 0px none #FFF;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: background-color .2s, opacity .2;
    transition: background-color .2s, opacity .2;
    opacity: 0
  }

  :hover::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb:hover {
    background: #bfbfbf;
    opacity: 1
  }

  .uploadcare--widget__button {
    color: #0008cc;
    background-color: transparent;
    border: 1px solid #0008cc;
    padding: 0.375rem 0.75rem;
    font-size: 1em;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .uploadcare--widget__button:hover {
    color: #fff;
    background-color: #0008cc;
    border: 1px solid #0008cc;
  }

  .wrapper {
    background-color: #fff;
    width: 591px;
    padding-left: 10pt;
    padding-right: 10pt;
    padding-top: 20pt;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  }

  h1 {
    margin: 0;
    padding-bottom: 5pt;
  }

  input[type="text"] {
    height: 20pt;
    width: 100%;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 14px;
    margin-top: 5pt;
  }

  .options {
    width: 100%;
    height: 30pt;
    margin-top: 5pt;
    border-top: 1px solid #ddd;
  }

  iframe {
    border: 0;
    width: 100%;
    margin-bottom: 5pt;
    height: 250pt;
  }

  .seperator {
    display: inline;
    border-left: 1px solid #ddd;
    height: 30pt;
  }

  button {
    margin: 0;
    padding: 0;
    height: 30pt;
    width: 30pt;
    background-color: #fff;
    border: 0;
    cursor: pointer;
    color: #333;
  }

  button:active {
    color: #333;
  }

  select {
    height: 30pt;
    -webkit-appearance: none;
    border: 0;
    padding-left: 5pt;
    padding-right: 5pt;
    outline: none;
  }

  input[type="number"] {
    height: 30pt;
    border: 0;
    padding: 0;
    padding-left: 5pt;
    padding-right: 5pt;
    outline: none;
    width: 59px;

  }

  canvas {
    width: 500px;
    border: 1px solid black;

  }

  h2 {
    font-size: 20px;
    margin: 20px 0 30px 0;
  }

  table {
    margin: 0 auto 30px auto;
  }

  label {
    font-weight: bold;
  }

  input {
    width: 400px;
    padding: 2px;
    margin: 0 10px 0 0;
  }

  td:first-child {
    text-align: right;
    padding: 0 5px 0 0;
  }

  textarea {
    display: block;
    width: 100%;
    height: 80px;
    font-family: monospace;
    white-space: pre;
    margin: 0 0 10px 0;
  }
</style>

<body>


  <!-- NAVBAR BAŞLANGIÇ-->
  <img class="logo" src="https://i.hizliresim.com/r5Pa0B.png" />
  <div class="logodevami">

    <a class="home" href="" style=margin-left:30px;>
      Oturum Aç
    </a>

    <a class="home" href="" style=margin-left:30px;>
      Etkinliklere Göz At
    </a>

    <a class="home" href="">
      Anasayfa
    </a>

  </div>

  <nav class="navbar ustmenu" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>


  </nav>
  <!-- NAVBAR BİTİŞ-->

  <div class="ortaresim">
    <img src="https://i.hizliresim.com/YQz9gE.png" style="height: 280px;margin-left: -30px;margin-top: 50px;">

    <h1 class="baslik">Etkinlikleri Oluşturmaya Hemen Başla</h1>


  </div>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="eventAddLabel">Yeni Etkinlik</h4>
        <button type="button" class="close" data-dismiss="modal"><i
            class="cutie icon-ios-close-circle cute-spin-1x"></i></button>
      </div>
      <div class="modal-body" id="eventAddBody">


        <form id="add_event" action="#" method="post" class="needs-validation" enctype="multipart/form-data" role="form"
          autocomplete="off" novalidate="">

          <div class="form-row" id="itl">
            <div class="form-group col-12">
              <div class="input-group">

                <input type="text" class="form-control" name="title" id="title" placeholder="Etkinlik Adı"
                  autocapitalize="words" autocomplete="off" autocorrect="on" spellcheck="true" required="">
              </div>
            </div>
            <div class="form-group has-icon col">
              <input type="text" class="form-control" name="location" id="eventloca" placeholder="Lokasyon"
                autocapitalize="words" autocomplete="off">
              <i class="fa fa-map-marker input-icon"></i>
            </div>
          </div>

          <div class="form-row justify-content-center" id="datepair">
            <div class="form-group has-icon col col-sm">
              <input type="date" class="form-control date start" id="start_date" name="start_date" required="">
              <i class="fa fa-calendar input-icon"></i>
            </div>
            <div class="form-group has-icon col-sm time-group">
              <input type="text" class="form-control time start ui-timepicker-input" name="start_time" id="start_time"
                value="" placeholder="9:00am" autocomplete="off">
              <i class="fa fa-clock-o input-icon"></i>
            </div>
            <span class="form-text px5 mb-3 mt-0 align-self-center">to</span>
            <div class="form-group has-icon col-sm time-group">
              <input type="text" class="form-control time end ui-timepicker-input" name="end_time" id="end_time"
                value="" placeholder="10:00am" autocomplete="off">
              <i class="fa fa-clock-o input-icon"></i>
            </div>
            <div class="form-group has-icon col col-sm">
              <input type="date" class="form-control date end" id="end_date" name="end_date">
              <i class="fa fa-calendar input-icon"></i>
            </div>
          </div>
          <div class="form-row align-middle align-items-center">
            <div class="form-group col-sm-auto">
              <div class="custom-control custom-switch custom-control-inline">
                <input class="custom-control-input" type="checkbox" name="allday" id="allday" value="1">
                <label class="custom-control-label" for="allday">Bütün Gün</label>
              </div>
              <div class="custom-control custom-switch custom-control-inline">
                <input class="custom-control-input" type="checkbox" name="busy" id="busy" value="1">
                <label class="custom-control-label" for="busy">Kullanım Dışı</label>
              </div>
            </div>
            <div class="form-group col-sm">
              <select class="form-control" name="repeat" id="repeat">
                <option selected="">Tekrar</option>
                <option value="no-repeat">Asla</option>
                <option value="daily">Hergün</option>
                <option value="weely">Her Hafta</option>
                <option value="monthly">Her Ay</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col has-icon">
              <input type="url" class="form-control" name="eventurl" id="eventurl" placeholder="URL">
              <i class="fa fa-globe input-icon"></i>
            </div>
          </div>
          <div class="form-group">
            <h1>Açıklama</h1>

            <div class="wrapper">
              <input type="text" placeholder="Başlık">
              <div class="options">
                <button onClick="transform('bold', null)">
                  <i class="fas fa-bold"></i>
                </button>
                <button onClick="transform('italic', null)">
                  <i class="fas fa-italic"></i>
                </button>
                <button onClick="transform('strikeThrough', null)">
                  <i class="fas fa-strikethrough"></i>
                </button>
                <button onClick="transform('underline', null)">
                  <i class="fas fa-underline"></i>
                </button>
                <div class="seperator"></div>
                <button onClick="transform('justifyLeft', null)">
                  <i class="fas fa-align-left"></i>
                </button>
                <button onClick="transform('justifyCenter', null)">
                  <i class="fas fa-align-center"></i>
                </button>
                <button onClick="transform('justifyRight', null)">
                  <i class="fas fa-align-right"></i>
                </button>
                <div class="seperator"></div>
                <button onClick="transform('insertOrderedList', null)">
                  <i class="fas fa-list-ol"></i>
                </button>
                <button onClick="transform('insertUnorderedList', null)">
                  <i class="fas fa-list-ul"></i>
                </button>
                <div class="seperator"></div>
                <select onChange="transform('fontName', this.value)">
                  <option disabled default>Font</option>
                  <option value="Times New Roman">Times</option>
                  <option value="Arial">Arial</option>
                  <option value="Courier New">Courier New</option>
                  <option value="Tahoma">Tahoma</option>
                  <option value="Arial">Verdana</option>
                </select>
                <div class="seperator"></div>
                <input type="number" onChange="transform('fontSize', this.value)" value="3" max="7" min="1"></input>
              </div>
              <iframe name="editor" id="editor"></iframe>



            </div>
            <script src="https://www.dukelearntoprogram.com/course1/common/js/image/SimpleImage.js"></script>

            <h1>Resim Yükle </h1>

            <canvas id="can1">
            </canvas>

            <p>

              <input type="file" multiple="false" accept="image/*" id="finput" onchange="Upload()">

            </p>
          </div>
          <h3>Organizatör Adı
          </h3>
          <div class="control">
            <input class="input is-hovered" type="text" placeholder="Organizatör Adı">
          </div>
          <h1>Açıklama</h1>
          <div class="wrapper">

            <input type="text" placeholder="Başlık">
            <div class="options">
              <button onClick="transform('bold', null)">
                <i class="fas fa-bold"></i>
              </button>
              <button onClick="transform('italic', null)">
                <i class="fas fa-italic"></i>
              </button>
              <button onClick="transform('strikeThrough', null)">
                <i class="fas fa-strikethrough"></i>
              </button>
              <button onClick="transform('underline', null)">
                <i class="fas fa-underline"></i>
              </button>
              <div class="seperator"></div>
              <button onClick="transform('justifyLeft', null)">
                <i class="fas fa-align-left"></i>
              </button>
              <button onClick="transform('justifyCenter', null)">
                <i class="fas fa-align-center"></i>
              </button>
              <button onClick="transform('justifyRight', null)">
                <i class="fas fa-align-right"></i>
              </button>
              <div class="seperator"></div>
              <button onClick="transform('insertOrderedList', null)">
                <i class="fas fa-list-ol"></i>
              </button>
              <button onClick="transform('insertUnorderedList', null)">
                <i class="fas fa-list-ul"></i>
              </button>
              <div class="seperator"></div>
              <select onChange="transform('fontName', this.value)">
                <option disabled default>Font</option>
                <option value="Times New Roman">Times</option>
                <option value="Arial">Arial</option>
                <option value="Courier New">Courier New</option>
                <option value="Tahoma">Tahoma</option>
                <option value="Arial">Verdana</option>
              </select>
              <div class="seperator"></div>
              <input type="number" onChange="transform('fontSize', this.value)" value="3" max="7" min="1"></input>

              <h3>Sosyal Medya Linkleri</h3>
              <button type="button" class="btn btn-fb"><i class="fab fa-facebook-f"></i></button>
              <div class="field">
                <div class="control">
                  <input class="input is-small" type="text" placeholder="Small input">
                </div>
              </div>

              <button type="button" class="btn btn-tw"><i class="fab fa-twitter"></i></button>
              <div class="field">
                <div class="control">
                  <input class="input is-small" type="text" placeholder="Small input">
                </div>
              </div>

              <button type="button" class="btn btn-ins"><i class="fab fa-instagram"></i></button>
              <div class="field">
                <div class="control">
                  <input class="input is-small" type="text" placeholder="Small input">
                </div>
              </div>

              <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"
                integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0"
                crossorigin="anonymous"></script>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary btn-cancel" id="cancelbtn"
                  data-dismiss="modal">İptal</button>
                <button type="submit" class="btn btn-outline-primary btn-submit" id="submitbtn">Ekle</button>
              </div>

            </div>
          </div>
      </div>

      <script>
        function Upload() {
          var cc1 = document.getElementById("can1");
          var fileinput = document.getElementById("finput");
          var image = new SimpleImage(fileinput);
          image.drawTo(cc1);
        }
    

        editor.document.designMode = "On";

        function transform(option, argument) {
          editor.document.execCommand(option, false, argument);
        }
      </script>
</body>


</html>