body{
    background-image: url('https://st3.depositphotos.com/1021722/13762/i/450/depositphotos_137623752-stock-photo-art-spring-background-fresh-flower.jpg');
  
}
#EnUstKisim{
    background-color: rgb(215, 213, 218);
    border-radius: 0px;
    height: 60px;
}
.SayfaAdi{
    color: rgb(92, 39, 146) !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 36px;
    font-size: 25px;
     
}
#anasayfaButon{
    color: black;
    margin-left: 665px;
    
}
#AnasayfaButonYazi{
    background-color: rgb(114, 114, 175);
    border: 1px solid rgb(114, 114, 175);
    width: 150px;
}
.btn-dark{
    
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    position: absolute;
    margin-left: 190px;
    margin-top: 5px;
}
.profilUstKisim{
    height: 280px;
    width: 1250px;
    border: 2px solid  rgb(92, 39, 146);
    margin-left: 60px;
    background-color: rgb(241, 241, 239);
    border-radius: 10px;
}
.profilResim{
    height: 200px;
    width: 200px;
    margin-top: 30px;
    margin-left: 40px;
}
.profilKisiBilgileri {
    margin-top: -183px;
    margin-left: 300px;
    font-size: 21px;
    color: #2b0e2b;  
}
.btn-secondary{
    margin-left: 780px;
    margin-top: 10px;
}
.ProfilYorumKutusu{
    height: 650px;
    width: 400px;
    float: left;
    margin-left: 60px;
    border: 2px solid  rgb(92, 39, 146);
    margin-top: 40px;
    margin-bottom: 40px;
    color: #2b0e2b;  
    font-size: 19px;
    font-family:inherit; 
    background-color: rgb(241, 241, 239);
    border-radius: 10px;

}
.ProfilYorumKutusu-yazi{
    height: 120px;
    width: 396px;
    margin-top: 370px;
    
}
.btn-danger{
    margin-left: 280px !important;
    background-color: blueviolet !important;
    border: 1px solid  rgb(92, 39, 146) !important;
    margin-top: 5px;
}
.list-group-flush{
    font-size: 18px;
}

.ProfilYorumKutusu2{
    height: 650px;
    width: 400px;
    float: left;
    margin-left: 65px;
    border: 2px solid  rgb(92, 39, 146);
    margin-top: 40px;
    margin-bottom: 40px;
    color: #2b0e2b;  
    font-size: 19px;
    font-family:inherit; 
    background-color: rgb(241, 241, 239);
    border-radius: 10px;
}
.gunTanitim{
    width: 20rem;
     float: left;
     margin-top: 40px;
     margin-left: 65px;
     border: 2px solid  rgb(92, 39, 146) !important;
}
.gonderButon{
    margin-top:-5px; 
    border:1px solid black !important; 
    margin-left:110px;
}
.btn-outline-danger{
    margin-left: 180px;
}
.card-body{
    height: 105px;
}
.list-group-item{
    height: 60px;
    line-height: 1;
}
.buton-cart{
    height: 65px;
}